<a href="https://colab.research.google.com/github/AnilKakkar76/CapstoneProject_CW-E/blob/main/Cleaning_Work_LKDSB_and_WECDSB_Files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Importing  all Basic Commands
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objs as go
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import plotly.express as px
%matplotlib inline

In [ ]:
df = pd.read_csv('/content/Usage_over_time.csv')
# df = df.rename(columns={'% Utilized': 'Utilized_in_Percent'})

In [ ]:
df.head()

,School_ID,Date,Download (b/s),Total (b/s),Download (mbps),Total (mbps)
0,100_HS,2022-09-01,3.233135e+05,4.805109e+05,0.323,0.481
1,100_HS,2022-09-01,6.466270e+05,9.610217e+05,0.647,0.961
2,100_HS,2022-09-01,1.690129e+06,2.071761e+06,1.690,2.072
3,100_HS,2022-09-01,8.397639e+06,9.224415e+06,8.398,9.224
4,100_HS,2022-09-01,9.068964e+06,1.084921e+07,9.069,10.849

In [ ]:
df = pd.DataFrame(df.groupby(['School_ID', 'Date']).mean())

In [ ]:
df = df.rename(columns={'Download (mbps)': 'Download_mbps','Total (mbps)': 'Total_mbps'})

In [ ]:

df.drop(['Total (b/s)', 'Download (b/s)'], axis=1, inplace=True)

In [ ]:
df.head(10)

  School_ID        Date  Download_mbps  Total_mbps
0    100_HS  2022-09-01          0.323       0.481
1    100_HS  2022-09-01          0.647       0.961
2    100_HS  2022-09-01          1.690       2.072
3    100_HS  2022-09-01          8.398       9.224
4    100_HS  2022-09-01          9.069      10.849
5    100_HS  2022-09-01          1.887       2.336
6    100_HS  2022-09-01          0.211       0.583
7    100_HS  2022-09-02          0.677       1.023
8    100_HS  2022-09-02          0.402       0.754
9    100_HS  2022-09-02         15.605      16.670

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8653 entries, 0 to 8652
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   School_ID      8653 non-null   object
 1   Date           8653 non-null   datetime64[ns]
 2   Download_mbps  8653 non-null   float64
 3   Total_mbps     8653 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 270.5+ KB

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df.head(20)

   School_ID       Date  Download_mbps  Total_mbps
0     100_HS 2022-09-01          0.323       0.481
1     100_HS 2022-09-01          0.647       0.961
2     100_HS 2022-09-01          1.690       2.072
3     100_HS 2022-09-01          8.398       9.224
4     100_HS 2022-09-01          9.069      10.849
5     100_HS 2022-09-01          1.887       2.336
6     100_HS 2022-09-01          0.211       0.583
7     100_HS 2022-09-02          0.677       1.023
8     100_HS 2022-09-02          0.402       0.754
9     100_HS 2022-09-02         15.605      16.670
10    100_HS 2022-09-02          7.598       9.284
11    100_HS 2022-09-02          5.264       6.062
12    100_HS 2022-09-02          0.680       1.053
13    100_HS 2022-09-03          0.254       0.593
14    100_HS 2022-09-03          0.166       0.488
15    100_HS 2022-09-03          0.167       0.497
16    100_HS 2022-09-03          0.171       0.498
17    100_HS 2022-09-03          0.203       0.533
18    100_HS 2022-09-03          0.157       0.461
19    100_HS 2022-09-04          0.177       0.454

In [ ]:
df = pd.DataFrame(df.groupby(['School_ID', 'Date']).mean())

In [ ]:
df.tail(20)

                      Download_mbps  Total_mbps
School_ID Date
232_HS    2023-02-09      66.355667   67.100167
          2023-02-10      66.544000   67.093667
          2023-02-11       3.140167    3.227333
          2023-02-12       0.780167    0.874000
          2023-02-13      75.240833   75.640667
          2023-02-14      76.592500   77.019833
          2023-02-15      74.067167   74.426833
          2023-02-16      79.236333   79.644833
          2023-02-17       9.044833    9.173500
          2023-02-18       2.406667    2.528167
          2023-02-19       1.244000    1.341833
          2023-02-20       1.226333    1.312333
          2023-02-21      77.279000   77.840333
          2023-02-22      21.063833   21.776333
          2023-02-23       1.454667    1.493167
          2023-02-24      95.940333   98.796833
          2023-02-25       6.356333    6.527167
          2023-02-26       6.113833    6.236667
          2023-02-27      90.868333   91.917000
          2023-02-28       1.982000    2.094000

In [ ]:
df.to_csv('Usage_over_time_Cleaned.csv')

In [ ]:
# prepare weather data for usage
dfw = pd.read_csv('/content/Weather_Data2.csv')

In [ ]:
dfw.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date,Time,Temp (°C),Rel Hum (%),Weather
0,-82.96,42.28,WINDSOR A,6139530,2022-09-01,12:00:00 AM,18.9,75.0,Normal
1,-82.96,42.28,WINDSOR A,6139530,2022-09-01,1:00:00 AM,18.0,80.0,Normal
2,-82.96,42.28,WINDSOR A,6139530,2022-09-01,2:00:00 AM,17.8,81.0,Normal
3,-82.96,42.28,WINDSOR A,6139530,2022-09-01,3:00:00 AM,18.6,78.0,Normal
4,-82.96,42.28,WINDSOR A,6139530,2022-09-01,4:00:00 AM,16.7,86.0,Normal

In [ ]:
dfw.head()

,Longitude (x),Latitude (y),Date,Time,Temp (°C),Rel Hum (%)
0,-82.96,42.28,2022-09-01,12:00:00 AM,18.9,75.0
1,-82.96,42.28,2022-09-01,1:00:00 AM,18.0,80.0
2,-82.96,42.28,2022-09-01,2:00:00 AM,17.8,81.0
3,-82.96,42.28,2022-09-01,3:00:00 AM,18.6,78.0
4,-82.96,42.28,2022-09-01,4:00:00 AM,16.7,86.0

In [ ]:
dfw.drop(['Station Name', 'Climate ID','Weather'], axis=1, inplace=True)

,Longitude (x),Latitude (y),Date,Time,Temp (°C),Rel Hum (%)
0,-82.96,42.28,2022-09-01,12:00:00 AM,18.9,75.0
1,-82.96,42.28,2022-09-01,1:00:00 AM,18.0,80.0
2,-82.96,42.28,2022-09-01,2:00:00 AM,17.8,81.0
3,-82.96,42.28,2022-09-01,3:00:00 AM,18.6,78.0
4,-82.96,42.28,2022-09-01,4:00:00 AM,16.7,86.0
5,-82.96,42.28,2022-09-01,5:00:00 AM,16.7,84.0
6,-82.96,42.28,2022-09-01,6:00:00 AM,15.8,72.0
7,-82.96,42.28,2022-09-01,7:00:00 AM,18.0,65.0
8,-82.96,42.28,2022-09-01,8:00:00 AM,20.4,63.0
9,-82.96,42.28,2022-09-01,9:00:00 AM,21.4,52.0

In [ ]:
dfw = pd.DataFrame(df.groupby(['Date']).mean())

In [ ]:
dfw.head()
df = dfw.rename(columns={'Time': 'time'})

In [ ]:
df.head()

,Longitude (x),Latitude (y),Date,Time,Temp (°C),Rel Hum (%)
0,-82.96,42.28,2022-09-01,12:00:00 AM,18.9,75.0
1,-82.96,42.28,2022-09-01,1:00:00 AM,18.0,80.0
2,-82.96,42.28,2022-09-01,2:00:00 AM,17.8,81.0
3,-82.96,42.28,2022-09-01,3:00:00 AM,18.6,78.0
4,-82.96,42.28,2022-09-01,4:00:00 AM,16.7,86.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Longitude (x)  4344 non-null   float64
 1   Latitude (y)   4344 non-null   float64
 2   Date           4344 non-null   datetime64[ns]
 3   Time           4344 non-null   object
 4   Temp (°C)      4341 non-null   float64
 5   Rel Hum (%)    4341 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 203.8+ KB

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
dfw = pd.DataFrame(df.groupby(['Longitude (x)','Latitude (y)','Date']).mean())

In [ ]:
dfw.head()

                                       Temp (°C)  Rel Hum (%)
Longitude (x) Latitude (y) Date
-82.96        42.28        2022-09-01  21.195833    66.083333
                           2022-09-02  22.095833    75.125000
                           2022-09-03  23.933333    76.958333
                           2022-09-04  20.083333    90.041667
                           2022-09-05  20.170833    86.791667

In [ ]:
dfw.to_csv('Weather_Data.csv')

In [ ]:
dfDu = pd.read_csv('/content/Device_utilization.csv')

In [ ]:
dfDu.head()

  School_ID        Date         Time  % Utilized
0    100_HS  2023-02-27  12:00:00 AM           5
1    100_HS  2023-02-27  12:20:00 AM           4
2    100_HS  2023-02-27  12:40:00 AM           4
3    100_HS  2023-02-27   1:00:00 AM           4
4    100_HS  2023-02-27   1:20:00 AM           5

In [ ]:
dfDu.drop(['Time'], axis=1, inplace=True)

In [ ]:
dfDu.head(10)

  School_ID        Date  % Utilized
0    100_HS  2023-02-27           5
1    100_HS  2023-02-27           4
2    100_HS  2023-02-27           4
3    100_HS  2023-02-27           4
4    100_HS  2023-02-27           5
5    100_HS  2023-02-27           5
6    100_HS  2023-02-27           4
7    100_HS  2023-02-27           4
8    100_HS  2023-02-27           4
9    100_HS  2023-02-27           5

In [ ]:
dfDu = pd.DataFrame(dfDu.groupby(['School_ID','Date']).mean())

In [ ]:
dfDu.to_csv('Device_utilization_Cleaned.csv')